API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
SESSION=imax_clean_bot
ADMIN_IDS=6859451629
CHANNEL_ID=-1003592327142
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/
DB_NAME=movie_cleanup
PORT=8080
